body {
	background-color: black;
}

h1 {
	color: rgb(200, 200, 200);
	text-align: center;
	font-family: 'Consolas';
	font-size: 3em;
}

#playfield {
	margin: auto;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	background-color: rgb(84, 70, 38);
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.square {
	background-color: rgb(84, 70, 38);
	border-style: solid;
	border-color: black;
	border-width: 1px;
	width: 20px;
	height: 20px;
}

.snake-part {
	background-color: green;
	border-style: solid;
	border-color: green;
	border-width: 1px;
	width: 20px;
	height: 20px;
	border-radius: 5px;

	
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.apple {
	background-color: red;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
}

.snake-eye-right {
	width: 1px;
	height: 1px;
	background-color: black;
	border-radius: 50px;
	margin-left: auto;
	padding: 3px;	
}

.snake-eye-left {
	width: 1px;
	height: 1px;
	background-color: black;
	border-radius: 50px;
	margin-right: auto;
	padding: 3px;	
}

.snake-eye-up {
	width: 1px;
	height: 1px;
	background-color: black;
	border-radius: 50px;
	margin-bottom: auto;
	padding: 3px;	
}

.snake-eye-down {
	width: 1px;
	height: 1px;
	background-color: black;
	border-radius: 50px;
	margin-top: auto;
	padding: 3px;	
}